# project backend
backend/uploads/*
!backend/uploads/.uploads.txt
backend/.python-version
backend/uploads/how2sign/videos/*.mp4
backend/constants.py
backend/resources/how2sign/how2sign_realigned.h5
backend/resources/models/model_stopwords.model/*

# general
*.DS_Store
*.pyc
__pycache__/*
